[submodule "projets/66B-modele_de_projet"]
	path = projets/66B-modele_de_projet
	url = https://github.com/tim-montmorency/66B-modele_de_projet.git
[submodule "projets/Echomarine"]
	path = projets/Echomarine
	url = https://github.com/Echomarine/Echomarine
[submodule "projets/Zodie-Gal"]
	path = projets/Zodie-Gal
	url = https://github.com/YarataDarkness/Zodie-Gal
[submodule "projets/LumaSol"]
	path = projets/LumaSol
	url = https://github.com/Kawabongaaa/LumaSol
[submodule "projets/EDRIA"]
	path = projets/EDRIA
	url = https://github.com/F-C-A/EDRIA
[submodule "projets/Nexum"]
	path = projets/Nexum
	url = https://github.com/Boucle-RDDL/Nexum
